/****************************
********* Backoffice ********
****************************/

html{
	background-color: #f1f3f4;
}


/* Header */
.headline{
	background-color: #217a9a;
	height: 10px;
}

header{
	height: 150px;
	background-color: #535353;
	box-shadow:2px 4px 14px #aeaeae;
}

.logo{
	margin-top: 43px;
	float: left;
}

#box{
	width: 1000px;
	margin: 0 auto;
	min-height: 300px;
	border: solid 1px #dfdfdf;
	background-color: white;
	margin-top: 35px;
}

nav{
	float: right;
	margin-top: 55px;
}
nav li{
	float: left;
}
nav li a{
	color: #fff;
	border-radius: 3px;
	padding: 9px 10px 5px 33px; 
	height: 21px;
	margin-right: 5px;
	background-color: #217a9a;
	text-transform: uppercase;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	text-decoration: none;
	display: block;
}

nav li a:hover{
	background-color: #1b8bb3;
}

nav li a.administration{
	background-image: url('../images/admin-icon.png');
}

nav li a.stores{
	background-image: url('../images/stores-icon.png');
}

nav li a.merchants{
	background-image: url('../images/merchants-icon.png');
}

nav li a.account{
	background-image: url('../images/account-icon.png');
}