/****************************
********* Backoffice ********
****************************/

html{
        background-color: #f1f3f4;
}


/* Header */
.headline{
        background-color: #217a9a;
        height: 10px;
}

header{
        height: 150px;
        background-color: #535353;
        box-shadow:2px 4px 14px #aeaeae;
}

.logo{
        margin-top: 43px;
        float: left;
}

#box{
        width: 990px;
        margin: 0 auto;
        overflow: hidden;
        border: solid 1px #dfdfdf;
        background-color: white;
        margin-top: 35px;
        margin-bottom: 20px;
}

#box .headBox{
        height: 22px;
        border-bottom: solid 1px #dedede;
        background-color: #e8e8e8;
        background: -moz-linear-gradient(top, #fbfbfb, #e8e8e8) repeat-X;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e8e8e8)) repeat-X;
        color: #777777;
        padding: 13px 20px 20px 20px;
        font-weight: 500;
        font-size: 14px;
}

#box .headBox .total{
        float: right;
        margin-top: 7px;
        font-size: 14px;
        text-transform: uppercase;
}

#box .headBox input{
        height: 16px;
        font-size: 14px;
        padding: 5px;
}

#box .headBox #addMerchant{
	width: 120px;
	height: 26px;
	margin-left: 35px;
}

#box .headBox #addStore{
	width: 150px;
	height: 26px;
	margin-left: 35px;
}

/* Search input */
.search{
        margin-left: 30px;
}

.search input{
        width: 300px;
		
}

.search button{
        height: 28px;
  		background-color: #d7d7d7;
        border:solid 1px #a2a2a2;
        background: -moz-linear-gradient(top, #fbfbfb, #e8e8e8) repeat-X;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e8e8e8)) repeat-X;
        background-image: url('../images/search-icon.png');
        background-repeat: no-repeat;
        background-position: 11px 5px;
        padding-left: 30px;
		color: #a2a2a2;
		text-shadow:none;

}


/* Firefox */
@-moz-document url-prefix() {
  .search button{
        top: -5px;
    }
}

.search button:hover{
        background-color: #e1e1e1;
}

.search button:active{
        box-shadow:none;
}



#box h1{
        margin: 0px;
        padding: 0px;
}

 select{
        padding: 4px;

}

/* Navigation */

nav{
        float: right;
        margin-top: 55px;
}
nav li{
        float: left;
}
nav li a{
        color: #fff;
        border-radius: 3px;
        padding: 9px 10px 5px 33px; 
        height: 21px;
        margin-right: 5px;
        background-color: #217a9a;
        text-transform: uppercase;
        font-size: 14px;
        background-repeat: no-repeat;
        background-position: 8px 8px;
        text-decoration: none;
        display: block;
}

nav li a:hover{
        background-color: #1b8bb3;
        color: #fff;
        text-decoration: none;
}

nav li a.administration{
        background-image: url('../images/admin-icon.png');
}

nav li a.stores{
        background-image: url('../images/stores-icon.png');
}

nav li a.merchants{
        background-image: url('../images/merchants-icon.png');
}

nav li a.account{
        background-image: url('../images/account-icon.png');
}

/* Data items */

.item {
		width: 950px;
        color: #777777;
        padding: 20px;
        border-bottom: solid 1px #dedede;
}

.item:nth-child(even){
        background-color: #fafafa;
}
.item:hover {
        background-color: #f4f4f4;
}

.merchants .item .name{
        font-weight: bold;
        font-size: 18px;
        width: 250px;
        float: left;
}

.merchants .item .email{
        width: 250px;
        float: left;
}

.merchants .item .status{
        margin-left: 80px;
}

.stores .item .id,
.editStore .id{
        display: none;
        visibility: hidden;
}

.stores .item .name{
        font-weight: bold;
        font-size: 18px;
        width: 150px;
        float: left;
}

.stores .item .slogan{
        width: 150px;
        float: left;
}

.stores .item .vat{
        width: 100px;
        float: left;
}

.stores .item .domain{
        width: 100px;
        float: left;
}

.stores .item .registrationDate{
        margin-left: 80px;
}

.item .actions{
        float: right;
}


.item .actions .delete{
        float: right;
        padding: 5px;
        margin-right: 10px;
        border: solid 1px #9a2121;
        background-color: #ee6565;
        color: #fff;
        background-image: url('../images/delete-icon.png');
        background-repeat: no-repeat;
        background-position: 5px 5px;
        padding-left: 30px;
        cursor: pointer;
}

.item .actions .edit{
        float: right;
        padding: 5px;
        margin-right: 10px;
        border: solid 1px #409140;
        background-color: #5ebb5e;
        color: #fff;
        background-image: url('../images/edit-icon.png');
        background-repeat: no-repeat;
        background-position: 5px 5px;
        padding-left: 30px;
        cursor: pointer;
}

#editMerchantDialog h1{
        margin-bottom: 10px;
}

#editStoreDialog h1{
        margin-bottom: 10px;
}

.edit select{
	width: 262px;
	margin-bottom: 14px;
	height: 40px;
	color: #535353;
	font-size: 18px;
}

.edit select{
 	background: #f5fcff;
 	border: solid 1px #75bcdb;
 	color: #217a9a;
}

.edit input{
	color: #535353;
}

.edit .notifications{
	padding-top: 0;
	width: 260px;	
	float: left;
}


/*************************
***** Administration ***** 
*************************/
.dashboard{
	padding: 20px;
}
.dashboard .title{
	font-weight: bold;
	border-bottom: dashed 1px #dedede;
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: #217a9a;
	font-size: 16px;
	padding-left: 10px;
}

/* Widgets */

.widget{
	border: solid 1px #dfdfdf;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #777777;
}

.row .widget:last-child{
	margin-right: 0px;
}

.widget h2{
	background: -moz-linear-gradient(top, #fbfbfb, #e8e8e8) repeat-X;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e8e8e8)) repeat-X;
	color: #777777;
	padding: 10px 5px 5px 10px;
	font-size: 14px;
	margin: 0;
	border-bottom: solid 1px #dedede;
    height: 20px;
    font-weight: bold;
    
}


.widget.medium{
	width: 350px;
	height: 240px;
}

.widget.big{
	width: 575px;
    height: 240px;
}


/* Merchants */
.merchant{
	padding: 10px;
	border-bottom: solid 1px #dedede;
	height: 20px;
}

.merchant .name{
	width: 150px;
	display: block;
	float: left;
}

.merchant .email{
	width: 190px;
	display: block;
	float: left;
}

.merchant .registrationDate{
	width: 130px;
	display: block;
	float: left;
}

#topShops .store{ 
	padding: 24px;
	border-bottom: solid 1px #dedede;
}

#topShops .store:last-child{ 
	border-bottom: none;
	
}


#topShops .store .domain{ 
	background-image: url('../images/store-icon.png');
    background-repeat: no-repeat;
    background-position: 7px 2px;
    padding-left: 30px;
}

#topShops .store .profit{ 
	background-image: url('../images/money-icon.png');
    background-repeat: no-repeat;
    background-position: 7px 3px;
    padding-left: 30px;
    margin-left: 10px;
    font-weight: bold;
}

#lastStores .store{
	border-bottom: solid 1px #dedede;
}

#lastStores .store:last-child{
	border-bottom: none;
}

#lastStores .store .domain{
	padding-top: 20px;
	padding-right: 50px;
	float: right;
	font-size: 25px;
}

header .userInfo{
	color: #fff;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

header .userInfo .permission{
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}

/* Edit Store */
.registrationStore input[name="name"],
.editStore input[name="name"]{
	  background-image: url('../images/store-edit-icon.png');
      background-repeat: no-repeat;
      background-position: 12px 13px;
}

.registrationStore input[name="slogan"],
.editStore input[name="slogan"]{
	  background-image: url('../images/slogan-edit-icon.png');
      background-repeat: no-repeat;
      background-position: 12px 13px;
}

.registrationStore input[name="vat"],
.editStore input[name="vat"]{
	  background-image: url('../images/vat-edit-icon.png');
      background-repeat: no-repeat;
      background-position: 12px 13px;
}

.registrationStore input[name="domain"],
.editStore input[name="domain"]{
	  background-image: url('../images/domain-edit-icon.png');
      background-repeat: no-repeat;
      background-position: 12px 13px;
}

.registrationStore input[name="logo"],
.editStore input[name="logo"]{
	  background-image: url('../images/icon-logo.png');
      background-repeat: no-repeat;
      background-position: 12px 13px;
}


/* Add Store */



.reveal-modal  select{
	width: 262px;
	margin-bottom: 14px;
	height: 40px;
	color: #535353;
	font-size: 18px;
}



.reveal-modal select{
 	background: #f5fcff;
 	border: solid 1px #75bcdb;
 	color: #217a9a;
}

.reveal-modal  input{
	height: 35px;
	width: 210px;
	color: #535353;
	margin-bottom: 20px;
}


.reveal-modal  .notifications{
	padding-top: 0;
	width: 260px;	
	float: left;
}


.reveal-modal h1{
	line-height: 55px;
}