/* Plataform CSS */

/* Common */
body{
	font-family:"Verdana", sans-serif;

}


.container{
	margin: 0 auto;
	width: 900px;
	height: 500px;
	overflow: auto;
	color: #535353;
}


header{
	height: 100px;
	background: url('../images/header.png') repeat-x #505050;
	width: 100%;
	border-top: solid 3px #217a9a;
	padding-top:10px;
}
header .logo{
	margin-top:15px;
	float:left;
	
}
header li{
	display: inline;
	list-style-type: none;
	color: #fff;
	margin-right: 30px;
	text-shadow: 2px 1px #272727;
	font-size: 15px;
}

header a{
	color: #fff;
	text-decoration: none;
}

header a:hover{
	color: #efefef;
	text-decoration: underline;
}

/* Login area */
header .login{
	width: 500px;
	margin-top: 30px;
	float: right;
	text-align: right;
	
}

header .login button{
	height: 30px;
	width: 60px;
	font-size:14px;
}


header .login input{
	width: 170px;
	height: 30px;
	border-radius: 5px;
	padding:0px 5px 0px 5px;
	border:solid 1px #323232;
	font-size:14px;
	color: #737373;
}

header .login input[type='email']{
	width: 200px;
}
/* Button */
button{
	border: solid 1px #15546b;
	border-radius: 5px;
	padding:2px 8px 2px 8px;
	background: #217a9a;
	color: #fff;
	cursor: pointer;
	text-shadow: 1px 1px 1px #183b48;
}

button:HOVER{
	border:solid 1px #183b48;
	background: #1b8bb3;
}

button:ACTIVE{
	box-shadow: inset 0px 3px 7px #1a6c89;
}

/* Pages */
.feature{
	margin-top: 15px;
	text-align: justify;
	line-height: 23px;
	color: #535353;
}
/* Titles */

 h1{
	font-size: 30px;
	color: #217a9a;
	margin-bottom: 14px;
	line-height: 40px;
	
}

 h2{
	font-size: 20px;
	color: #217a9a;
	margin-top:10px;
}
/* Feature in the homepage */
.feature .left{
	float: left;
	width: 380px;
	padding-top:40px;
}

.feature .right{
	float: right;
	width: 500px;	
}

/* Registration button size */
.registration button,
.feature button{
	padding:8px 16px 8px 16px;
	font-size: 20px;
	margin-top: 20px;
}

.registration{
	text-align: justify;
	line-height: 23px;
	color: #535353;
	width: 300px;
	margin:0 auto;
	margin-top: 50px;
}

.registration input{
	border-radius: 5px;
	padding:0px 5px 0px 5px;
	border:solid 1px #bdbdbd;
	height: 30px;
	margin-bottom:10px;
	width: 220px;
}

/* Loggedin user area */

.loggedin{
	width: 300px;
	float: right;
	margin-top: 15px;
}

.loggedin .avatar{
	float: left;
}

.loggedin .userinfo{
	font-size: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	color: #fff;
}

.loggedin button{
	margin-top: 20px;
	margin-left: 20px;
	float: rigth;
}

.permission{
	text-transform: capitalize;
}

/* Navigation */
nav {
	width: 100%;
	height: 35px;
	border-bottom: solid 1px #15546b;
	border-top: solid 1px #15546b;
	background: #217a9a;
}
nav ul{
	margin-top:8px;
	
}
nav li{
	float: left;
	list-style-type: none;
	padding-right: 15px;
	font-size: 15px;
	padding-left: 22px;
}



nav li a{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px #245262;
}

nav li a:hover{
	color: #e7f9ff;
}

/* Navigation Icons */
#merchantsi{
	background: url('../images/merchants-icon.png') no-repeat ;
}

#accounti{
	background: url('../images/account-icon.png') no-repeat ;
	
}

#storesi{
	background: url('../images/stores-icon.png') no-repeat ;
}


.merchants{
	margin-top: 20px;
}

.merchants span{
	border: solid 1px #15546b;
	background: #217a9a;
	width: 100px; 
}

/* Data view */
.dataview{
	width: 100%;
	border: solid 1px #15546b;
	margin-top: 20px;
}

.dataview thead{
	background-color: red;
	border: solid 1px #15546b;
	background: #217a9a;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px #245262;
}

.dataview thead td{
	padding: 5px;
	border-right: solid 1px #15546b;
}

.dataview td{
	padding: 5px;
	border-left: solid 1px #15546b;
}

.dataview tr{
	border-bottom: solid 1px #15546b;
	font-size: 13px;
}

.dataview tr:nth-child(2n) {
	background: #e7f9ff;
}

.dataview tr:hover{
	background: #cae7f1;
}