/* Plataform CSS */

/* Common */
body{
	font-family:"Tahoma", sans-serif;

}


.container{
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}


/* Homepage */

.head{
	height: 27px;
	background-color: #217a9a;
}

.header{
	height: 330px;
	background-color: #505050;
}

.loginbox{
	height: 90px;
	background-color: #d8d8d8;
	box-shadow:2px 4px 7px #aeaeae;
}

.whiteblock{
	height:170px;
	padding-top: 30px

}

.blueblock{
	height:170px;
	padding-top: 30px;
	background-color: #e1f7ff;
}

.footer{
	height:50px;
	padding-top: 20px;
	background-color: #217a9a;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.whitelogo{
	margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto }

}

.stores{
	float: left;
}

.message{
	width: 450px;
	height: 200px;
	float: right;
	margin-top: 40px;
}

.message h1,
.message .answer{
	margin: 0;
	padding: 0;
	color: #fff;
}

.message h1{
	font-size: 48px;
}

.message .answer{
	font-size: 30px;
	margin-top: 8px;
}

.message button{
	width: 180px;
	height: 40px;
	margin-top: 15px;
	font-size: 22px;
}

.loginbox form{
	padding-top: 26px;
	text-align: center;
}

.loginbox input{
	width: 215px;
	height: 40px;
	border: solid 1px #acacac;
	font-size: 18px;
	padding-left: 40px;
	padding-right: 5px;
	margin-right: 10px;
}

.loginbox input[name="email"]{
	background: url('../images/email-icon.png') no-repeat #fff;
	background-position: 6px 6px;
}

.loginbox input[name="password"]{
	background: url('../images/password-icon.png') no-repeat #fff;
	background-position: 6px 6px;
}

.loginbox button{
	width: 110px;
	height: 40px;
	font-size: 22px;

}

.block{
	width: 460px;
	height: 150px;
	float: left;
}

.block img{
	float: left;
}

.block .info{
	float: right;
	width: 310px;
	color: #707070;
	padding-top: 15px;
}

.block .info h2{
	font-size: 22px;
	color: #217a9a;
	margin-bottom: 10px;
}

/* Button */
button{
	border: solid 1px #15546b;
	padding:2px 8px 2px 8px;
	background: #217a9a;
	color: #fff;
	cursor: pointer;
	text-shadow: 1px 1px 1px #183b48;
}

button:HOVER{
	border:solid 1px #183b48;
	background: #1b8bb3;
}

button:ACTIVE{
	box-shadow: inset 0px 3px 7px #1a6c89;
}

/* Button Orange*/
button.orange{
	border: solid 1px #ac3b1f;
	padding:2px 8px 2px 8px;
	background: #ec6730;
	color: #fff;
	cursor: pointer;
	text-shadow: 1px 1px 1px #ac3b1f;
}

button.orange:HOVER{
	background: #ec7544;
}

button.orange:ACTIVE{
	box-shadow: inset 0px 3px 7px #ac3b1f;
}

/* Input */
input{
	min-width: 215px;
	height: 40px;
	border: solid 1px #acacac;
	font-size: 18px;
	pading: 5px;
	color: #acacac;
}

/* Titles */

 h1{
	font-size: 30px;
	color: #217a9a;
	margin-bottom: 14px;
	line-height: 40px;
	
}

 h2{
	font-size: 20px;
	color: #217a9a;
	margin-top:10px;
}



/* Registration button size */
.registration button {
	padding:8px 16px 8px 16px;
	font-size: 20px;
	width: 260px;
}

.registration{
	text-align: justify;
	color: #535353;
	width: 260px;
}

.registration input{
	margin-bottom: 10px;
	padding-left: 45px;
}

.registration input[name='email']{
	background: url('../images/email-icon.png') no-repeat #fff;
	background-position: 6px 6px;
}

.registration input[name='name']{
	background: url('../images/user-icon.png') no-repeat #fff;
	background-position: 6px 6px;
}

.registration input[name='password'],
.registration input[name='password_check']{
	background: url('../images/password-icon.png') no-repeat #fff;
	background-position: 6px 6px;
}





/* Notifications */
.error{
	border: solid 1px #9a2121;
	padding: 5px;
	color: #fff;
	margin: 5px;
	text-align:center;
	background: url('../images/cross-icon.png') no-repeat #ee6565;
	background-position: 6px 6px;
}

.confirmation{
	background-color: #3dc61e;
	border: solid 1px #31881d;
	padding: 5px;
	color: #fff;
	margin: 5px;
	margin-bottom:10px;
	text-align:center;
	background: url('../images/ok-icon.png') no-repeat #3dc61e;
	background-position: 6px 6px;
}

.confirmRegistration{
	background: url('../images/confirmed.png') no-repeat;
	height: 80px;
	width: 370px;
	padding-left: 120px;
	padding-top: 50px;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	display:none;	
	margin-top: 30px;
	
}