.bodyContainer{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

/* Header */

header{
	
}

/* Logo */

header .logo{
	margin-top: 30px;
	margin-bottom: 30px;
}

.span10{
	/*border: solid 1px #d4d4d4; */
	border-radius: 4px;	
}

/* Home products */

.productItem{
	float: left;
	width: 160px;
	border: solid 1px #d4d4d4;
	margin-right: 35px;
	padding: 20px;
	height: 250px;
}



.productItem img{
	width: 160px;
}

.productItem .name{
	text-transform: uppercase;
	height: 20px;
}

.productItem .description{
	color: #898989;
	overflow: hidden;
	height: 20px;

}

.productItem .price{
	font-size: 22px;
	font-weight:bold;
	margin-top: 20px;
}

.productItem .actions{
	margin-top: 20px;
}

header .login{
	float: right;
	padding-top: 45px;

}

/* Modal Register */
.modal.register{
    width:250px;
    margin-left: -125px; /* - width/2 */
}

/* Product comments */
.comment{
	padding: 20px;
	margin-bottom: 20px;
	background: #f2f2f2;
}
.comment .author{
	font-weight: bold;
	line-height: 9px;
	display: block;
}

.comment .date{
	font-size: 11px;
	color: #6b6b6b;
	
}

.comment .body{
	background: url('../../images/quote-icon.png') no-repeat;
	padding-left: 25px;
}



.productInfo{
	background: #f2f2f2;
	float:right;
	width: 490px;
	height: 90px;
	padding: 20px;
}

.productInfo .description{
	height: 60px;
}
.productInfo .price{
	font-size: 24px;
	font-weight: bold;
}

.subProduct{
	margin-top: 15px;
	
}

#star{
	float: left;
	margin-right: 50px;
	margin-left: 35px;
}